.code-container {
    display: grid;
    grid-template-rows: auto auto 1fr; /* Rows for title, p, and divs */
    grid-template-columns: 1fr; /* Single column for the outer grid */
    gap: 10px; /* Add some spacing between the divs */
  }
  
  .highlighted-code{
    padding: 1px; /* Add padding for better visual separation */
    border: 1px solid #ccc; /* Add borders for better visualization */
  }
  
  .student-code {
    padding: 1px; /* Add padding for better visual separation */
    border: 1px solid #ccc; /* Add borders for better visualization */
  }
  
  .title {
    text-align: center; /* Center-align the text */
  }
  
  .p-element {
    text-align: center; /* Center-align the text */
  }
  
  .code-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal columns for the inner grid */
    gap: 10px; /* Add some spacing between the divs */
  }
  